[Unit]
Description=Forward MIDI to Blofeld

[Service]
Type=simple
Nice=-10
Restart=always
RestartSec=4
ExecStart=/usr/local/bin/forward blofeld 7 7 8
ExecStartPost=/bin/sh -c "sleep 10"
ExecStartPost=/bin/sh -c 'aconnect $(aclient -o -u 1.2) blofeld:0'
ExecStartPost=/bin/sh -c 'aconnect blofeld:1 $(aclient -i -u 1.4)'
ExecStartPost=/bin/sh -c 'aconnect $(aclient -o -u 1.5) $(aclient -i -u 1.4)'

[Install]
WantedBy=default.target
